// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
default_shell "fish"

keybinds {
    // Rebind the lock/unlock toggle from Ctrl+g to Ctrl+l
    shared_except "locked" {
        unbind "Ctrl g"
        bind "Ctrl l" { SwitchToMode "Locked"; }
    }
    locked {
        unbind "Ctrl g"
        bind "Ctrl l" { SwitchToMode "Normal"; }
    }
}
